body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.movieScreen {
    max-width: 1200px;
    padding: 2em;
    margin: 0 auto;
    background-color: #141414;
}

.movieScreen .movieTitle {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}

.movieScreen .movieInfo {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 2em;
}

.movieScreen select {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 2em;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}

.movieScreen .movie {
    display: flex;
    flex-direction: column;
}