.PlannsScreenPlan{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
}
.PlannsScreenPlan:hover{
    opacity: 1;
}
.PlannsScreenPlan>button{
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    border: none;
}

.PlannsScreenPlan--disabled > button {
    background-color: gray !important;
}